
    <div class="mainBack_box" >
    <div align="right" style="padding:10px;">
  <a href="" class="btn btn-danger" ng-click="logout()">Гарах</a>
</div>
<!--     <form class="input-group" style="width:500px;margin:20px auto;" ng-submit="searchMethod(searchQ)">

      <input type="text" class="form-control" ng-model="searchQ" placeholder="Хайлт...">
      <span class="input-group-btn" >
        <button class="btn btn-default"  type="submit"  >Хайх</button>
      </span>
 
    </form> -->
    
                <div class="maincontainer"  ng-include=" 'main.html'">

    
  
</div>
    </div>

